################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Arcanea/x64/Debug
/Arcanea/Debug
/Arcanea/Arcanea.vcxproj.user
/Arcanea/Arcanea.vcxproj.filters
/Arcanea/Arcanea.vcxproj
/x64/Debug
/Debug
/Arcanea.sln
/.vs/Arcanea/v16
